  <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" ng-controller="MainController">
                <li class="sidebar-brand">            
                        <span>Diary</span>
                </li>
                <li>
                    <a href="#/home">Dashboard</a>
                </li>
                <li>
                    <a href="#/overview">Overview</a>
                </li>
                <li>
                    <a href="#/calculator">Calculator</a>
                </li>
                
                <li>
                    <a href="#/weather">Weather app</a>
                </li>
                <li>
                    <a href="#/blackjack">Blackjack</a>
                </li>
                <li>
                    <a href="#/about-me">About</a>
                </li>
                <li>
                    <a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->